body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
}

h1, h2 {
    font-weight: 700;
}

.bg-white {
  background-color: #fff;
  color: #000;
}

.bg-black {
  background-color: #000;
  color: #fff;
}

code {
    background: unset;
    font-size: 1em;
}

/* Links */
a {
    color: #58a5cb;
    text-decoration: underline;
}

a:visited {
    color: #987ce6;
}

nav li {
    list-style: none;
    display: inline-block;
    color: #fff;
}

nav li a {
    color: #fff;
    padding: 0 2rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;;
}

nav li a:hover {
    text-decoration: underline;
    color: #fff;
}

nav li a:visited {
    color: unset;
}

/* Buttons */
.button {
    background-color: #58a5cb;
    border-color: #58a5cb;
}

.button:hover {
    background-color: #2984b1;
    border-color: #2984b1;
    color: #ededed;
}

.button-black {
    background-color: #000;
    border-color: #000;
}
.button-black.button-clear,
.button-black.button-outline {
    background-color: transparent;
    color: #000;
}
.button-black.button-clear {
    border-color: transparent;
}

.button-white {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

.button-white.button-clear,
.button-white.button-outline {
    background-color: transparent;
    color: #fff;
}
.button-white.button-clear {
    border-color: transparent;
}

/* Logo */
.matchbox {
    white-space: nowrap;
    display: inline-block;
    margin: 12rem 0;
}

.matchbox::before {
    content: "matchbox";
    font-size: 6rem;
    font-weight: 700;
}

.matchbox::after {
    content: "os";
    font-size: 2rem;
    font-weight: 300;
    margin-left: 0.5ch;
}

/* Header */
header {
    text-align: center;
    border-bottom: 4rem solid #dddddd;
    padding: 3rem 0 0 0;
}

header#home {
    padding: 3rem 0 12rem 0;
    background-size: 8rem 8rem;
    background-image: linear-gradient(to right, #202020 0.1rem, transparent 0.1rem), linear-gradient(to bottom, #202020 0.1rem, transparent 0.1rem);
    background-position: center;
}

header .home {
    padding: 6rem 0 12rem 0;
}

main > .container:first-of-type {
    padding-top: 8rem;
}

main > .container:last-of-type {
    padding-bottom: 8rem;
}

header .matchbox {
    text-align: center;
}

header .button:not(:only-of-type):not(:first-of-type) {
    margin-left: 2rem;
}

header .description {
    margin-bottom: 8rem;
}

/* Footer */
footer {
    border-top: 0.1rem solid #dddddd;
    padding-top: 4rem;
}

footer ul {
    list-style: none;
}

@media (min-width: 40.0rem) {
    .matchbox::before {
	font-size: 10rem;
    }

    .matchbox::after {
	font-size: 3rem;
    }

    nav {
	text-align: right;
	margin-right: 4rem;
    }
}
